/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding-top: 60px;
    /* Adjusted padding to accommodate the fixed header */
}

.container {
    max-width: 95%;
    /* Adjusted max-width for better fit on smaller screens */
    margin: 0 auto;
    padding: 20px 10px;
    /* Adjusted padding for better spacing on smaller screens */
}

/* Header styles */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    /* Fixed position */
    top: 0;
    /* Fixed to the top */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Ensure it's above other content */
}

header img {
    max-width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li:hover::before {
    content: attr(title);
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li a i {
    font-size: 24px;
}

/* Pagination styles */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Search form styles */
.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.search-form input[type="text"] {
    padding: 8px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #0056b3;
}


.des {
    height: 30px;
    /* Set the height of the input field */
    width: 100%;
    /* Set the width of the input field to fill its container */
    padding: 8px;
    /* Add padding to provide space inside the input field */
    border: 1px solid #ccc;
    /* Add a border with a light gray color */
    border-radius: 4px;
    /* Add rounded corners to the input field */
    box-sizing: border-box;
    /* Ensure that padding and border are included in the width */
    font-size: 14px;
    /* Set the font size of the text in the input field */
    margin-top: 5px;
    /* Add some space at the top of the input field */
    margin-bottom: 5px;
    /* Add some space at the bottom of the input field */
}

/* Style for when the input field is focused */
.des:focus {
    border-color: #007bff;
    /* Change the border color to blue when the input field is focused */
    outline: none;
    /* Remove the default focus outline */
}

.ti {
    height: 30px;
    /* Set the height of the input field */
    width: 100%;
    /* Set the width of the input field to fill its container */
    padding: 8px;
    /* Add padding to provide space inside the input field */
    border: 1px solid #ccc;
    /* Add a border with a light gray color */
    border-radius: 4px;
    /* Add rounded corners to the input field */
    box-sizing: border-box;
    /* Ensure that padding and border are included in the width */
    font-size: 14px;
    /* Set the font size of the text in the input field */
    margin-top: 5px;
    /* Add some space at the top of the input field */
    margin-bottom: 5px;
    /* Add some space at the bottom of the input field */
}

/* Style for when the input field is focused */
.ti:focus {
    border-color: #007bff;
    /* Change the border color to blue when the input field is focused */
    outline: none;
    /* Remove the default focus outline */
}

main.table {
    width: 99vw;
    height: 90vh;
    background-color: #fff5;
    margin-top: 0.5%;
    margin-left: 0.5%;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}